body {
	font-family: serif;
	font-size: 2em;
}

section {
	width: 100%;
	background-color: #DE8AAD;
	margin: auto;
	display: flex;
	justify-content: space-around;
}

.kitty {
	width: 400px;
	height: 200px;
	border: 1px solid black;
	margin: 20px;
	padding: 20px;
}

.info {
	background-color: #D67FFF;
	align-content: center;
}

.clickyWords {
	width: 400px;
	border: 1px solid black;
	margin: 20px;
	padding: 20px;
	justify-content: space-around;
	text-align: center;
	align-content: center;
}