body {
	font-family: serif;
	font-size: 2em;
}

.image {
	width: 100%;
	height: 300px;
	background-color: #DE8AAD;
	margin: auto;
	display: flex;
}

.kitty {
	width: 400px;
	height: 200px;
	border: 1px solid black;
	justify-content: space-around;
}

.info {
	width: 100%;
	height: 100px;
	display: flex;
	text-align: center;
}

.clickyWords {
	width: 400px;
	height: 100px;
	justify-content: space-between;
	text-align: center;
}